---
layout: new
title: New Post
---

<div>
  <div class="alert alert-success" ng-bind-html-unsafe="messages"></div>  
  <!-- Input/Preview Post -->
  <div class="wrapper row">
    <div class="col-md-6">

      <!-- Post interface -->
      <form name="postForm">
        <div class="form-group title">
          <label for="postTitle">Title</label>
          <input name="postTitle" ng-model="postTitle" class="form-control" id="postTitle" type="text">
        </div>
        <div class="form-group body">
          <label for="postContent">Body</label>
          <textarea name="value" ng-model="postContent" class="form-control large-12" id="postContent" rows="20"></textarea>
        </div>
      </form>

      <form class="form-inline" role="form">
        <div class="well well-sm">
          <div class="form-group category">
            <label for="postCategory">Category</label>&nbsp;
            <select name="postCategory" id="postCategory" ng-model="postCategory">
              <option value="blog" selected>blog</option>
              <option value="poem">poem</option>
              <option value="story">story</option>
            </select>
          </div>
        </div>

        <div class="well well-sm">
          <div class="radio publish">
            <label>
              <input type="radio" name="postPublish" value="true" ng-model="postPublish">
              Publish this now
            </label>
          </div>
          <div class="radio publish">
            <label>
              <input type="radio" name="postPublish" value="false" ng-model="postPublish" checked> 
              Publish this later
            </label>
          </div>
        </div>

        <div class="form-group">
          <input type="text" placeholder="repository (ex: sirkitree.github.com)" class="form-control" ng-model="repository" required>
        </div>
        <div class="form-group">
          <input type="text" placeholder="branch (ex: gh-pages)" class="form-control" ng-model="branch" required>
        </div>
        <div class="form-group">
          <input type="text" placeholder="username" class="form-control" ng-model="username" required>
        </div>
        <div class="form-group">
          <input type="password" placeholder="password" class="form-control" ng-model="password" required>
        </div>
        <button ng-click="auth()" type="submit" class="btn btn-success pull-right">Submit</button>
      </form>
        
    </div> 

    <!-- Preview -->
    <div class="col-md-6">
      <h1 id="markdown-preview-title" class=" preview-title" ng-bind="postTitle"></h1>
      <div id="markdown-preview-body" class="well preview-body" ng-bind-html-unsafe="postContent|convert"></div>
    </div>
  </div>

</div>

<!-- Scripts -->
<script src="components/jquery/jquery.min.js"></script>
<script src="components/jquery-autosize/jquery.autosize.min.js"></script>
<script src="components/angular/angular.js"></script>
<script src="components/github/lib/base64.js"></script>
<script src="components/github/lib/underscore-min.js"></script>
<script src="components/github/github.js"></script>
<script src="components/angular-github-adapter/angular-github-adapter.js"></script>
<script src="components/marked/lib/marked.js"></script>
<script src="js/filters.js"></script>
<script src="js/githubpost.js"></script>
<script>
  $(document).ready(function(){
    $('textarea').autosize();   
  });
</script>